* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #c0c0c0;
  min-height: 100%;
  font-size: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 30px;
}

label,
button,
.link-button {
  font-size: 0.85em;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
}

.alert-warning {
  border-color: transparent;
  border-radius: 0;
}

.text-truncated,
.text-truncated-parent,
.text-truncated-parent * {
  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anchor-name {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.popover {
  z-index: 1029;
}

.navbar-menu {
  color: #eeeeee;
  font-size: 1.5em;
}

.navbar-menu:hover {
  color: #fff;
}

.offcanvas-body {
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.offcanvas-body-top {
  overflow-y: auto;
  height: 100%;
  flex-wrap: nowrap;
}

.offcanvas-body-top.is-logged-in {
  height: calc(100% - 50px);
}

.offcanvas-body-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.offcanvas-body > div {
  height: 100%;
}

.offcanvas-body .nav-pills .nav-link {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.offcanvas-body .active.nav-link,
.offcanvas-body .active.nav-link:hover {
  background: #3f51b5;
}

.offcanvas-body .nav-link:hover {
  background: #1a237e;
}

.offcanvas-header .btn-close {
  border-radius: 50%;
  box-shadow: none;
}

.offcanvas-header .btn-close:active {
  padding: 0;
  box-shadow: none;
}

.fc a {
  color: inherit;
  text-decoration: inherit;
}

[class*="leave-block"].fc-h-event,
[class*="shift-block"].fc-h-event {
  border: 1px solid rgb(17, 24, 39);
}

[class*="leave-block"].fc-h-event {
  background-color: rgb(17, 24, 39);
}

[class*="leave-block"].fc-h-event .fc-event-main {
  color: rgb(249, 250, 251);
}

[class*="shift-block"].fc-h-event .fc-event-main {
  color: rgb(17, 24, 39);
}

.fc .shift-block-0 {
  background-color: #ffcdd2;
}

.fc .shift-block-1 {
  background-color: #f8bbd0;
}

.fc .shift-block-2 {
  background-color: #e1bee7;
}

.fc .shift-block-3 {
  background-color: #d1c4e9;
}

.fc .shift-block-4 {
  background-color: #c5cae9;
}

.fc .shift-block-5 {
  background-color: #bbdefb;
}

.fc .shift-block-6 {
  background-color: #b3e5fc;
}

.fc .shift-block-7 {
  background-color: #b2ebf2;
}

.fc .shift-block-8 {
  background-color: #b2dfdb;
}

.fc .shift-block-9 {
  background-color: #c8e6c9;
}

.fc .shift-block-10 {
  background-color: #dcedc8;
}

.fc .shift-block-11 {
  background-color: #f0f4c3;
}

.fc .shift-block-12 {
  background-color: #fff9c4;
}

.fc .shift-block-13 {
  background-color: #ffecb3;
}

.fc .shift-block-14 {
  background-color: #ffe0b2;
}

.fc .shift-block-15 {
  background-color: #ffccbc;
}

.fc .shift-block-16 {
  background-color: #d7ccc8;
}

.fc .shift-block-17 {
  background-color: #cfd8dc;
}

.fc .shift-block-18 {
  background-color: #ef9a9a;
}

.fc .shift-block-19 {
  background-color: #f48fb1;
}

.fc .shift-block-20 {
  background-color: #ce93d8;
}

.fc .shift-block-21 {
  background-color: #b39ddb;
}

.fc .shift-block-22 {
  background-color: #9fa8da;
}

.fc .shift-block-23 {
  background-color: #90caf9;
}

.fc .shift-block-24 {
  background-color: #81d4fa;
}

.fc .shift-block-25 {
  background-color: #80deea;
}

.fc .shift-block-26 {
  background-color: #80cbc4;
}

.fc .shift-block-27 {
  background-color: #a5d6a7;
}

.fc .shift-block-28 {
  background-color: #c5e1a5;
}

.fc .shift-block-29 {
  background-color: #e6ee9c;
}

.fc .shift-block-30 {
  background-color: #fff59d;
}

.fc .shift-block-31 {
  background-color: #ffe082;
}

.fc .shift-block-32 {
  background-color: #ffcc80;
}

.fc .shift-block-33 {
  background-color: #ffab91;
}

.fc .shift-block-34 {
  background-color: #bcaaa4;
}

.fc .shift-block-35 {
  background-color: #b0bec5;
}

.fc .shift-block-36 {
  background-color: #e57373;
}

.fc .shift-block-37 {
  background-color: #f06292;
}

.fc .shift-block-38 {
  background-color: #ba68c8;
}

.fc .shift-block-39 {
  background-color: #9575cd;
}

.fc .shift-block-40 {
  background-color: #7986cb;
}

.fc .shift-block-41 {
  background-color: #64b5f6;
}

.fc .shift-block-42 {
  background-color: #4fc3f7;
}

.fc .shift-block-43 {
  background-color: #4dd0e1;
}

.fc .shift-block-44 {
  background-color: #4db6ac;
}

.fc .shift-block-45 {
  background-color: #81c784;
}

.fc .shift-block-46 {
  background-color: #aed581;
}

.fc .shift-block-47 {
  background-color: #dce775;
}

.fc .shift-block-48 {
  background-color: #fff176;
}

.fc .shift-block-49 {
  background-color: #ffd54f;
}

.square-image-wrapper {
  display: block;
  position: relative;
  width: 80px;
  margin: 0 auto;
}

.square-image {
  display: block;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  width: 80px;
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
}

.square-image img {
  position: absolute;
  object-fit: cover;
  height: auto;
  min-height: 100%;
  left: 0;
  top: 0;
  border: 0;
  width: 100%;
}

.fade-text-color {
  color: rgb(107, 114, 128);
}

.link-button {
  box-sizing: border-box;
  border: none;
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;
  background: silver;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button:not(:disabled):active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
  padding: 2px 11px 0 13px;
}

.link-button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

.link-button:hover {
  color: inherit;
}

input[type="number"] {
  line-height: 2;
}

input[type="number"]:focus {
  outline: none;
}

.meter {
  height: 23px; /* Can be anything */
  position: relative;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  padding: 4px 4px 3px 4px;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: var(--dialog-blue);
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    90deg,
    #000080 40%,
    #ffffff 40%,
    #ffffff 50%,
    #000080 50%,
    #000080 90%,
    #ffffff 90%,
    #ffffff 100%
  );
  background-size: 30px 30px;
}

.modal-dialog {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
    inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
  -webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 0.8em;
}

.modal-header {
  background: linear-gradient(90deg, navy, #1084d0);
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px;
}

.modal-title {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 24px;
  font-size: 12px;
}

.modal-header button,
.modal-header .btn-close {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
  background-position: top 3px left 4px;
  background-repeat: no-repeat;
  margin-left: 2px;
  display: inline-block;
  min-height: 17px;
  min-width: 17px;
  padding: 0;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0px;
  -webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px;
  margin: 0;
  opacity: 1;
}

.modal-header button:not(:disabled):active,
.modal-header .btn-close:not(:disabled):active {
  padding: 0;
}

.modal-body select {
  font-size: 11px;
  height: 21px;
}

.badge {
  border-radius: 0;
}

.optimise-main-interface input[type="radio"] {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  background: none;
  position: static;
  opacity: 1;
  border: none;
  margin-top: 15px;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent !important;
}
